<div class="container">
  <div class="row">
     <h1>フォローされているユーザー</h1>
  </div>
  <div class="row">
    <table class="table">
      <thead>
      <tr>
        <th><p>画像</p></th>
        <th><p>名前</p></th>
      </tr>
    </thead>
    <tbody>
      <% @user.follower_users.each do |follower| %>
      <tr>
        <td><%= attachment_image_tag follower, :profile_image, fallback: "no-image-mini.jpg" %></td>
        <td><%= follower.name %></td>
        <td><%= "フォロー数：#{follower.follower.count}" %></td>
        <td><%= "フォロワー数：#{follower.followed.count }" %></td>
        <td><% if current_user.following?(follower) %>
              <%= link_to "フォローを外す", unfollow_path(follower.id), method: :post %>
            <% else %>
              <%= link_to "フォローする", follow_path(follower.id), method: :post %>
            <% end %>
        </td>
        <td><p><%= link_to "詳細", user_path(follower.id), class: "col-1 btn btn-warning mb-2 text-white" %></p></td>
      </tr>
      <% end %>
    </tbody>
    </table>
  </div>
</div>