<%= form_for(book) do |f| %>
  <% if book.errors.any? %>
  <h3><%= book.errors.count %> errors occurrence</h3>
    <ul>
    	<% book.errors.full_messages.each do |message| %>
      	<li><%= message %></li>
      <% end %>
    </ul>
   <% end %>

	<div class="field col-3">
		<%= f.label :タイトル %>
		<%= f.text_field :title, class: "form-control book_title" %>
	</div>

	<div class="field col-12">
		<%= f.label :本文 %>
		<%= f.text_area :body, class: "form-control book_body" %>
	</div>

	<div class="actions">
		<%= f.submit class: "btn btn-primary" %>
	</div>
<% end %>